transformers==4.44.2
accelerate
pandas
sacremoses
sacrebleu
setuptools==69.5.1
scipy
soundfile
fsspec
scikit-learn
rouge-score
py7zr
tqdm
jiwer
librosa
protobuf
matplotlib
datasets
evaluate
sentencepiece
rjieba
nltk
seqeval
mlflow
albumentations
