transformers==4.29.2
accelerate==0.21.0
pandas==2.0.3
sacremoses==0.0.53
sacrebleu==2.3.1
sentencepiece==0.1.99
scipy==1.10.1
soundfile==0.12.1
fsspec==2023.9.2
scikit-learn
rouge-score
py7zr
tqdm
evaluate
jiwer
librosa
protobuf
matplotlib
datasets
evaluate
sentencepiece
rjieba
nltk
seqeval
mlflow
